{% extends "base.html" %}

{% block header %}

<div id="wrap">
		
	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="/home">Apartment Auction</a></h1>		
		<p id="slogan">see, bid, move.</p>		
			
		<div id="header-links">
			<p>
			<a href="/createlisting">Create Listing</a> | 
			<a href="/myaccount">My Account</a> 
			</p>		
		</div>		
						
	</div>
		
	<!-- navigation -->	
	<div  id="menu">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/listings">Listings</a></li>
			<li><a href="/owners">Owners</a></li>
			<li><a href="/renters">Renters</a></li>
			<li><a href="/support">Support</a></li>
			<li id="current"><a href="/about">About</a></li>		
		</ul>
	</div>	

{% endblock %}

{% block content %}
    
<!-- content-wrap starts here -->
	<div id="content-wrap">
		
		<div id="main">				
				
			<a name="TemplateInfo"></a>
			<h2><a href="index.html">About</a></h2>
									
			<p>We created apartment auction because we were tired of going to lots of open houses and not having insight into other bidders, etc.</p>  

			<p>Thanks for using the site and we'd love to hear your feedback.</p>
						
			<p class="post-footer align-left">					
			<a href="index.html" class="readmore">I'm an apartment owner...</a> |
			<a href="index.html" class="comments">I'm an apartment renter...</a> 
			</p>
				
			<br />
			

		</div>
		
	<!-- content-wrap ends here -->	
	</div>
    
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7285787-1");
pageTracker._trackPageview();
} catch(err) {}</script>

{% endblock %}