{% extends "base.html" %}

{% block content %}
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
	
			<div class="entry">
				{% if traceback %}
				<br>
				<br>
				Ahh! You landed on this page because there was some type of error out there in serverland. Try pressing the back button HARD and you should be fine. If you continue to have problems please email us. Thanks for you help!
				<br>
				<br>
				Traceback:
				<br>
				{{ traceback }}
				{% endif %}
			</div>   
		</div>
	</div>

{% endblock content %}