{% extends "base.html" %}

{% block content %}
    
<!-- content-wrap starts here -->
	<div id="content-wrap">
		
		<div id="main">				
				
			<a name="TemplateInfo"></a>
			<h2><a href="index.html">What is Apartment Auction?</a></h2>
									
			<p><strong>Apartment Auction</strong> is a simple solution to inefficient, informal auctions that happen everyday.  We are an auction based site providing apartement owners the opportunity to auction their monthly rental properties.  The renter has the opportunity to provide relevant information about themselves and bid for an apartment.</p>  

			<p>Thanks for using the site and we'd love to hear your feedback.</p>
						
			<p class="post-footer align-left">					
			<a href="index.html" class="readmore">I'm an apartment owner...</a> |
			<a href="index.html" class="comments">I'm an apartment renter...</a> 
			</p>
				
			<br />
			

		</div>
		
	<!-- content-wrap ends here -->	
	</div>
    
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7285787-1");
pageTracker._trackPageview();
} catch(err) {}</script>

{% endblock %}